<template>
    <div class="list">
        <div class="list-header">
            <h3>{{list.name}} <br> <span>{{list.date | formatDate}}</span></h3>
            <div>
                <button v-on:click="downloadCSV(list)" v-bind:class="{'disabled': imeis.length < 1}">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="20px">
                    <g>
                        <g>
                            <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64    c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472    c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z" fill="#006DF0"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" fill="#006DF0"/>
                        </g>
                    </g>
                    </svg>
                </button>

                <button v-on:click="deleteList(list)">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" viewBox="0 0 774.266 774.266" style="enable-background:new 0 0 774.266 774.266;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M640.35,91.169H536.971V23.991C536.971,10.469,526.064,0,512.543,0c-1.312,0-2.187,0.438-2.614,0.875    C509.491,0.438,508.616,0,508.179,0H265.212h-1.74h-1.75c-13.521,0-23.99,10.469-23.99,23.991v67.179H133.916    c-29.667,0-52.783,23.116-52.783,52.783v38.387v47.981h45.803v491.6c0,29.668,22.679,52.346,52.346,52.346h415.703    c29.667,0,52.782-22.678,52.782-52.346v-491.6h45.366v-47.981v-38.387C693.133,114.286,670.008,91.169,640.35,91.169z     M285.713,47.981h202.84v43.188h-202.84V47.981z M599.349,721.922c0,3.061-1.312,4.363-4.364,4.363H179.282    c-3.052,0-4.364-1.303-4.364-4.363V230.32h424.431V721.922z M644.715,182.339H129.551v-38.387c0-3.053,1.312-4.802,4.364-4.802    H640.35c3.053,0,4.365,1.749,4.365,4.802V182.339z" fill="#D80027"/>
                        <rect x="475.031" y="286.593" width="48.418" height="396.942" fill="#D80027"/>
                        <rect x="363.361" y="286.593" width="48.418" height="396.942" fill="#D80027"/>
                        <rect x="251.69" y="286.593" width="48.418" height="396.942" fill="#D80027"/>
                    </g>
                </g>
                </svg>
                </button>
            </div>
        </div>
        <ul  v-if="imeis.length > 0">
            <li v-for="imei in imeis">
                {{imei.name}}
            </li>
        </ul>
        <span v-if="imeis.length < 1">No hay IMEIs para mostrar</span>
    </div>
</template>
<script>

import axios from "axios";
export default {
    name: 'ListComponent',
    props: ['list'],
    data () {
        return {
            imeis: {}
        }
    },
    mounted() {
        this.getImeis();
        console.log(this.list)
    },
    methods: {
        getImeis: function () {
            axios({ "method": "GET", "url": "http://api.barcodeapp.tk/api/getImeis/" + this.list._id})
            .then(
                result => {
                    this.imeis = result.data.imeis;
                }, error => console.log(error)
            )
        },
        deleteList: function (list) {
            const sure = confirm("Estás seguro?");
            if (sure) {
                axios({ "method": "DELETE", "url": "http://api.barcodeapp.tk/api/removeList/" + this.list._id }).then(() => this.$emit('reload'));
            }
        },
        downloadCSV: function (list) {
            
            let rows = [];
            for (let imei in this.imeis) {
                let newRow = [this.imeis[imei].name];
                rows.push(newRow);
            }
            let csvContent = "data:text/csv;charset=utf-8,";
            rows.forEach(function(rowArray){
                let row = rowArray.join(",");
                csvContent += row + "\r\n";
            }); 
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", this.list.name+".csv");
            link.click(); // This will download the data file named "my_data.csv".

        }
    }
}

</script>

<style scoped>
    .list { display: inline-block; padding: 20px; margin: 10px; box-shadow: 0 0 5px rgba(0,20,50,.4); border-radius: 3px; width: 100%; max-width: 320px; }
    .list li { padding: 5px 0; }
    .list-header { padding-bottom: 10px; border-bottom: 1px solid rgba(0,0,0,.05); margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center }
    .list-header button { background: none; border: none; outline: none; cursor: pointer; }
    .list-header button.disabled { filter: grayscale(100%); cursor: not-allowed; opacity: .5; pointer-events: none; }
    h3 { font-size: 18px;  }
    h3 span { font-size: 12px }
</style>