<template>
  <div id="app">
    <div class="navbar">
      <h1>{{ title }}</h1>
      <div>
        <div class="inputSet">
          <input type="text" v-model="listName" v-on:keyup="autoAdd($event)" placeholder="Añadir lista">
          <button v-on:click="addList">+</button>
        </div>
      </div>
    </div>
    <div class="lists-body">
      <ListComponent v-for="list in lists" v-bind:list="list" @reload="getLists()" v-if="lists.length > 0"></ListComponent>
      <p v-if="lists.length < 1" style="padding: 0 10px">No hay listas que mostrar</p>
    </div>
  </div>
</template>

<script>
import ListComponent from './components/listComponent.vue'
import axios from "axios";

export default {
  name: 'app',
  components: {
    ListComponent
  },
  data () {
    return {
      title: "Lista IMEIs",
      lists: [],
      listName: ''
    } 
  },
  mounted() {
    this.getLists();
  },
  methods: {
    getLists: function () {
      axios({ method: "GET", "url": "http://api.barcodeapp.tk/api/getLists" })
      .then(
        result => {
          this.lists = result.data.lists;
          // console.log(result.data.lists)
        }, error => {
          console.error(error);
        }
      );
    },
    autoAdd: function (ev) {
      if (ev.key === 'Enter') {
        this.addList();
      }
    },
    addList: function () {
      let data  = { name: this.listName };
      axios({method: "POST", "url": "http://api.barcodeapp.tk/api/addList", data, "headers": { "content-type": "application/json" }})
      .then(
        () => {
          this.getLists();
          this.listName = '';
        }, error => {
          console.log(error);
        }
      )
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: hidden;
  max-width: 100vw;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  padding: 15px 40px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 { display: inline-block; }
.inputSet input {
  border: none;
  background-color: #e1e6e9; 
  font-size: 15px;
  color: #313639;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
}
.inputSet button {
  font-size: 24px;
  border: none;
  background-color: #d1d6d9; 
  cursor: pointer;
  color: #717679;
  padding: 2px 12px 8px;
  border-radius: 0 5px 5px 0;
  outline: none;
}
.inputSet button:active {
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
.lists-body {
  padding: 50px 40px;
  margin: 0 -10px;
}
</style>
